# IntelliJ
.idea/
.idea_modules/

out/
*/out/

# VSCode
.project
*/.project

.classpath
*/.classpath

settings.json
.settings/

.metals/
.bloop/

/bin/
*/bin/

# SBT
/project/project/
*/project/project/

/null/
*/null/

/target/
*/target/

# Mac
**/.DS_Store
